.btn {
  float: left;
  text-decoration: none;
  &--full {
    width: 100%;
  }
  &--medium {
    padding: 10px 20px;
    @include responsive-vw(font-size, $min-font-size-p, $max-font-size-p);
  }
  &--large {
    padding: 20px 30px;
    @include responsive-vw(font-size, $min-font-size-h4, $max-font-size-h4);
  }
  &--light-gray {
    background-color: $color-light-gray;
    color: $color-white;
    &:hover {
      background-color: $color-red;
    }
  }
  &--red {
    background-color: $color-red;
    color: $color-white;
    &:hover {
      background-color: $color-light-gray;
    }
  }
  &--small {

  }
}