.scroll {
  &__reveal {
    visibility: hidden;
    &--up,
    &--left,
    &--right {
      visibility: hidden;
    }
  }
}

.background {
  &--image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
    z-index: -1;
  }
  &--white {
    background-color: $color-white;
  }
  &--black {
    background-color: $color-black;
  }
  &--black-transparent {
    background-color: rgba($color-black, 0.8);
  }
  &--gray {
    background-color: $color-gray;
  }
  &--gray-transparent {
    background-color: rgba($color-gray, 0.8);
  }
}

.color {
  &--white {
    color: $color-white;
  }
  &--black {
    color: $color-black;
  }
  &--red {
    color: $color-red;
  }
  &--light-gray {
    color: $color-light-gray;
  }
}

.text {
  &--center {
    text-align: center;
  }
}

.center {
  &--top {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(0%);
    -moz-transform: translateY(-50%) translateX(0%);
    -ms-transform: translateY(-50%) translateX(0%);
    -o-transform: translateY(-50%) translateX(0%);
    transform: translateY(-50%) translateX(0%);
  }
  &--left {
    position: relative;
    left: 50%;
    -webkit-transform: translateY(0%) translateX(-50%);
    -moz-transform: translateY(0%) translateX(-50%);
    -ms-transform: translateY(0%) translateX(-50%);
    -o-transform: translateY(0%) translateX(-50%);
    transform: translateY(0%) translateX(-50%);
  }
  &--middle {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
}

.underline {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  &--gray {
    border-color: $color-gray;
  }
  &--white {
    border-color: $color-white;
  }
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.box-shadow {
  &--bottom {
    -moz-box-shadow: inset 0 -15px 30px 0 $color-black;
    -webkit-box-shadow: inset 0 -15px 30px 0 $color-black;
    box-shadow: inset 0 -15px 30px 0 $color-black;
  }
  &--inside {
    -moz-box-shadow: inset 0 0 15px $color-black;
    -webkit-box-shadow: inset 0 0 15px $color-black;
    box-shadow: inset 0 0 15px $color-black;
  }
}

.float {
  &--left {
    float: left;
  }
  &--right {
    float: right;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.gutter {
  margin-top: 30px;
}

.width {

  &--stretch {
    width: 100%;
  }
}