.logo {
  width: 212px;
  height: 50px;
  float: left;
  background-image: url('../images/logo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include media($sm) {
    width: 106px;
    height: 25px;
  }
}