.page {
  .nav {
    width: auto;
    float: right;
    &__list {
      display: inline-block;
      list-style: none;
      line-height: 50px;
    }
    &__item {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 20px;
      }
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        font-family: $font-family-heading;
        color: $color-white;
      }
      &--active {
        a {
          color: $color-red;
        }
      }
      &:hover {
        a {
          color: $color-red;
          background: none !important;
        }
      }
    }

    .ccm-block-social-links {
      display: inline-block;
      position: relative;
      top: 10px;
      margin-left: 20px;
      .center--left {
        left: 0;
        -webkit-transform: translateY(0) translateX(0);
        -moz-transform: translateY(0) translateX(0);
        -ms-transform: translateY(0) translateX(0);
        -o-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
        li {
          &:not(:first-child) {
            margin-left: 20px;
          }
        }
      }
      @include media($sm) {
        display: block;
        top: 30px;
      }
    }

    @include media($sm) {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      width: 250px;
      height: 100%;
      background-color: $color-black;
      &__item {
        display: block;
        &:not(:first-child) {
          margin: 0;
        }
        padding: 10px 20px;
      }
    }
  }
}