.page {
  h1 {
    font-family: $font-family-heading;
    @include responsive-vw(font-size, $min-font-size-h1, $max-font-size-h1);
    line-height: $line-height-heading;
    text-transform: uppercase;
  }
  h2 {
    font-family: $font-family-heading;
    @include responsive-vw(font-size, $min-font-size-h2, $max-font-size-h2);
    text-transform: uppercase;
  }
  h3 {
    font-family: $font-family-heading;
    @include responsive-vw(font-size, $min-font-size-h3, $max-font-size-h3);
    line-height: $line-height-heading;
    text-transform: uppercase;
  }
  h4 {
    font-family: $font-family-heading;
    @include responsive-vw(font-size, $min-font-size-h4, $max-font-size-h4);
    line-height: $line-height-heading;
    text-transform: uppercase;
  }
  p {
    @include responsive-vw(font-size, $min-font-size-p, $max-font-size-p);
    font-weight: $font-weight-light;
  }
  a {
    @include transition();
  }
  small {
    @include responsive-vw(font-size, $min-font-size-small, $max-font-size-small);
  }
  b,
  strong {
    font-weight: $font-weight-bold;
  }
  em {
    font-style: italic;
  }
}