.video {
  figcaption {
    margin-top: 20px;
  }
  .plyr__play-large {
    background-color: $color-red;
    cursor: pointer;
  }
  .plyr__progress--played, .plyr__volume--display {
    color: $color-red;
  }
}