/* COLORS */

$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #3A3A3A;
$color-light-gray: #A3A3A3;
$color-red: #CB0000;

/* FONTS */

$font-family-default: 'Lato', sans-serif;
$font-family-heading: 'Oswald', sans-serif;

$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-light: 300;

$max-font-size-h1: 52px;
$min-font-size-h1: 32px;
$max-font-size-h2: 44px;
$min-font-size-h2: 22px;
$max-font-size-h3: 36px;
$min-font-size-h3: 18px;
$max-font-size-h4: 22px;
$min-font-size-h4: 16px;
$max-font-size-p: 18px;
$min-font-size-p: 14px;
$max-font-size-small: 14px;
$min-font-size-small: 10px;

$line-height-default: 1.2;
$line-height-heading: 1.4;

/* GRID */

$max-width: 1440px;
$min-width: 640px;

/* MEDIA QUERIES */

$xs: new-breakpoint(max-width 640px);
$sm: new-breakpoint(max-width 768px);
$md: new-breakpoint(max-width 1024px);
$lg: new-breakpoint(max-width $max-width);

/* ANIMATION */

$duration: .5s;