html,
body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-default;
  background-color: $color-black;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  img {
    max-width: 100%;
    float: left;
  }
  &__wrap {
    width: 100%;
    float: left;

    &:after {
      content: '';
      width: 100%;
      height: 100vh;
      float: left;
      position: absolute;
      top: 0;
      left: 0;
      max-height: 800px;
      background-size: cover;
      background-position: 0 -150px;
      background-repeat: no-repeat;
      background-image: url('../images/background.jpg');
      z-index: -1;
      -moz-box-shadow: inset 0 -15px 30px 0 $color-black;
      -webkit-box-shadow: inset 0 -15px 30px 0 $color-black;
      box-shadow: inset 0 -15px 30px 0 $color-black;
    }
  }
  @include media($xs) {
    &__wrap {
      background-position: top;
      &:after {
        background-position: top;
      }
    }
  }
}

.event {
  max-height: 300px;
  overflow: auto;
  &__figure {
    display: table;
    width: 100%;
    float: left;
    padding: 20px;
    &:not(:last-child) {
    border-bottom: 1px solid $color-light-gray;
    }
    time {
      display: inline-block;
      width: 30px;
      float: left;
      @include responsive-vw(font-size, $min-font-size-p, $max-font-size-p);
      text-transform: uppercase;
      color: $color-red;
      span {
        display: block;
        @include responsive-vw(font-size, $min-font-size-h3, $max-font-size-h3);
        color: $color-black;
      }
    }
    span {
      display: table-cell;
      vertical-align: middle;
      @include responsive-vw(font-size, $max-font-size-p, $max-font-size-h3);
      color: $color-light-gray;
      cursor: default;
    }
    a {
      display: table-cell;
      vertical-align: middle;
      @include responsive-vw(font-size, $max-font-size-p, $max-font-size-h3);
      color: $color-light-gray;
      &:hover {
        color: $color-red;
      }
    }
    figcaption {
      display: table-cell;
      vertical-align: middle;
      line-height: $line-height-heading;
    }
    .btn {
      display: table-cell;
      vertical-align: middle;
      float: none;
      i {
        float: right;
      }
    }
  }
  &__inner {
    float: left;
    margin-left: 40px;
    span {
      padding-right: 20px;
    }
  }
  &__more {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &__btn {
    font-size: $max-font-size-p !important;
  }

  @include media($sm) {
    &__figure {
      line-height: $line-height-heading;
    }
  }
}
