.header {
  position: fixed;
  top: 0;
  width: 100%;
  float: left;
  padding: $gutter / 2 0;
  z-index: 1;
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.navicon {
  display: none;
  position: relative;
  float: right;
  margin-top: 15px;
  padding: 10px 0;
  transition: $duration / 2;
  user-select: none;
  cursor: pointer;
  @include transition();
  &__bars {
    &:before, &:after {
      transition: $duration / 2;
    }
  }
  &__bars {
    position: relative;
    width: 20px;
    height: 2px;
    background-color: $color-white;
    transition: $duration / 2;
    &:before, &:after {
      display: block;
      content: "";
      height: 2px;
      width: 20px;
      background-color: $color-white;
      position: absolute;
      transition: $duration / 2;
    }
    &:before {
      top: .425rem;
    }
    &:after {
      top: -.425rem;
      height: 2px;
    }
  }

  &--open:not(.steps) .navicon__bars:before,
  &--open:not(.steps) .navicon__bars:after {
    top: 0 !important;
  }

  &--open .navicon__bars:before,
  &--open .navicon__bars:after {
    transition: $duration / 2;
    background-color: color($color-white);
  }

  &--open {
    &:hover {
      .navicon__bars {
        &:before,
        &:after {
          background-color: color($color-white);
        }
      }
    }

    .navicon__bars {
      background-color: transparent;
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }
  }

  @include media($sm) {
    display: block;
    margin-top: 0;
  }
}