.hero {
  position: relative;
  width: 100%;
  float: left;
  @include responsive-vw(padding-top, 40px, 80px);
  @include responsive-vw(padding-bottom, 60px, 120px);
  &__inner {
    position: absolute;
    bottom: -40px;
    width: auto !important;
    h1 {
      margin-bottom: 30px;
    }
    a {
      text-decoration: none !important;
      cursor: pointer;
      &:hover {
        color: $color-white;
      }
    }
  }

  &--medium {
    @include responsive-vw(height, 200px, 200px);
  }

  &--large {
    @include responsive-vw(height, 200px, 400px);
  }

  @include media($sm) {
    &__inner {
      bottom: 0;
    }
  }
}