.section {
  position: relative;
  width: 100%;
  float: left;
  margin-top: 40px;
  padding-top: 40px;
  &__overlay {
    //margin-top: 300px;
  }
  &__inner {
    padding: 60px;
  }
  &__content {
    margin-top: 40px;
    border-radius: 5px;
    .ccm-block-social-links {
      ul {
        li {
          width: 30px;
          height: 30px;
          margin: 0 10px 10px 10px;
          background-color: $color-white;
          border-radius: 50%;
        }
      }
    }
  }
  @include media($sm) {
    &__overlay {
      margin-top: 0;
    }

    &__inner {
      padding: 60px 20px;
    }
  }
}

.spotify {
  width: 100%;
  float: left;
  margin-top: 40px;
  border-radius: 5px;
  @include media($sm) {
    margin-bottom: 80px;
  }
}

