@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Oswald:300,400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* COLORS */
/* FONTS */
/* GRID */
/* MEDIA QUERIES */
/* ANIMATION */
html,
body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif;
  background-color: #000000; }

.page {
  position: relative;
  width: 100%;
  height: 100%;
  float: left; }
  .page img {
    max-width: 100%;
    float: left; }
  .page__wrap {
    width: 100%;
    float: left; }
    .page__wrap:after {
      content: '';
      width: 100%;
      height: 100vh;
      float: left;
      position: absolute;
      top: 0;
      left: 0;
      max-height: 800px;
      background-size: cover;
      background-position: 0 -150px;
      background-repeat: no-repeat;
      background-image: url("../images/background.jpg");
      z-index: -1;
      -moz-box-shadow: inset 0 -15px 30px 0 #000000;
      -webkit-box-shadow: inset 0 -15px 30px 0 #000000;
      box-shadow: inset 0 -15px 30px 0 #000000; }
  @media screen and (max-width: 640px) {
    .page__wrap {
      background-position: top; }
      .page__wrap:after {
        background-position: top; } }

.event {
  max-height: 300px;
  overflow: auto; }
  .event__figure {
    display: table;
    width: 100%;
    float: left;
    padding: 20px; }
    .event__figure:not(:last-child) {
      border-bottom: 1px solid #A3A3A3; }
    .event__figure time {
      display: inline-block;
      width: 30px;
      float: left;
      font-size: 14px;
      text-transform: uppercase;
      color: #CB0000; }
      @media screen and (min-width: 640px) {
        .event__figure time {
          font-size: calc(14px + 4 * (100vw - 640px) / 800); } }
      @media screen and (min-width: 1440px) {
        .event__figure time {
          font-size: 18px; } }
      .event__figure time span {
        display: block;
        font-size: 18px;
        color: #000000; }
        @media screen and (min-width: 640px) {
          .event__figure time span {
            font-size: calc(18px + 18 * (100vw - 640px) / 800); } }
        @media screen and (min-width: 1440px) {
          .event__figure time span {
            font-size: 36px; } }
    .event__figure span {
      display: table-cell;
      vertical-align: middle;
      font-size: 18px;
      color: #A3A3A3;
      cursor: default; }
      @media screen and (min-width: 640px) {
        .event__figure span {
          font-size: calc(18px + 18 * (100vw - 640px) / 800); } }
      @media screen and (min-width: 1440px) {
        .event__figure span {
          font-size: 36px; } }
    .event__figure a {
      display: table-cell;
      vertical-align: middle;
      font-size: 18px;
      color: #A3A3A3; }
      @media screen and (min-width: 640px) {
        .event__figure a {
          font-size: calc(18px + 18 * (100vw - 640px) / 800); } }
      @media screen and (min-width: 1440px) {
        .event__figure a {
          font-size: 36px; } }
      .event__figure a:hover {
        color: #CB0000; }
    .event__figure figcaption {
      display: table-cell;
      vertical-align: middle;
      line-height: 1.4; }
    .event__figure .btn {
      display: table-cell;
      vertical-align: middle;
      float: none; }
      .event__figure .btn i {
        float: right; }
  .event__inner {
    float: left;
    margin-left: 40px; }
    .event__inner span {
      padding-right: 20px; }
  .event__more {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  .event__btn {
    font-size: 18px !important; }
  @media screen and (max-width: 768px) {
    .event__figure {
      line-height: 1.4; } }

.footer {
  position: relative;
  width: 100%;
  float: left;
  padding: 20px 0; }
  @media screen and (max-width: 768px) {
    .footer__bottom {
      text-align: center; } }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  float: left;
  padding: 0.809em 0;
  z-index: 1; }
  .header__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

.navicon {
  display: none;
  position: relative;
  float: right;
  margin-top: 15px;
  padding: 10px 0;
  transition: 0.25s;
  user-select: none;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .navicon__bars:before, .navicon__bars:after {
    transition: 0.25s; }
  .navicon__bars {
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #FFFFFF;
    transition: 0.25s; }
    .navicon__bars:before, .navicon__bars:after {
      display: block;
      content: "";
      height: 2px;
      width: 20px;
      background-color: #FFFFFF;
      position: absolute;
      transition: 0.25s; }
    .navicon__bars:before {
      top: .425rem; }
    .navicon__bars:after {
      top: -.425rem;
      height: 2px; }
  .navicon--open:not(.steps) .navicon__bars:before, .navicon--open:not(.steps) .navicon__bars:after {
    top: 0 !important; }
  .navicon--open .navicon__bars:before, .navicon--open .navicon__bars:after {
    transition: 0.25s;
    background-color: color(#FFFFFF); }
  .navicon--open:hover .navicon__bars:before, .navicon--open:hover .navicon__bars:after {
    background-color: color(#FFFFFF); }
  .navicon--open .navicon__bars {
    background-color: transparent; }
    .navicon--open .navicon__bars:before {
      transform: rotate(-45deg); }
    .navicon--open .navicon__bars:after {
      transform: rotate(45deg); }
  @media screen and (max-width: 768px) {
    .navicon {
      display: block;
      margin-top: 0; } }

.hero {
  position: relative;
  width: 100%;
  float: left;
  padding-top: 40px;
  padding-bottom: 60px; }
  @media screen and (min-width: 640px) {
    .hero {
      padding-top: calc(40px + 40 * (100vw - 640px) / 800); } }
  @media screen and (min-width: 1440px) {
    .hero {
      padding-top: 80px; } }
  @media screen and (min-width: 640px) {
    .hero {
      padding-bottom: calc(60px + 60 * (100vw - 640px) / 800); } }
  @media screen and (min-width: 1440px) {
    .hero {
      padding-bottom: 120px; } }
  .hero__inner {
    position: absolute;
    bottom: -40px;
    width: auto !important; }
    .hero__inner h1 {
      margin-bottom: 30px; }
    .hero__inner a {
      text-decoration: none !important;
      cursor: pointer; }
      .hero__inner a:hover {
        color: #FFFFFF; }
  .hero--medium {
    height: 200px; }
    @media screen and (min-width: 640px) {
      .hero--medium {
        height: calc(200px + 0 * (100vw - 640px) / 800); } }
    @media screen and (min-width: 1440px) {
      .hero--medium {
        height: 200px; } }
  .hero--large {
    height: 200px; }
    @media screen and (min-width: 640px) {
      .hero--large {
        height: calc(200px + 200 * (100vw - 640px) / 800); } }
    @media screen and (min-width: 1440px) {
      .hero--large {
        height: 400px; } }
  @media screen and (max-width: 768px) {
    .hero__inner {
      bottom: 0; } }

.section {
  position: relative;
  width: 100%;
  float: left;
  margin-top: 40px;
  padding-top: 40px; }
  .section__inner {
    padding: 60px; }
  .section__content {
    margin-top: 40px;
    border-radius: 5px; }
    .section__content .ccm-block-social-links ul li {
      width: 30px;
      height: 30px;
      margin: 0 10px 10px 10px;
      background-color: #FFFFFF;
      border-radius: 50%; }
  @media screen and (max-width: 768px) {
    .section__overlay {
      margin-top: 0; }
    .section__inner {
      padding: 60px 20px; } }

.spotify {
  width: 100%;
  float: left;
  margin-top: 40px;
  border-radius: 5px; }
  @media screen and (max-width: 768px) {
    .spotify {
      margin-bottom: 80px; } }

.grid__container {
  padding: 0 20px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }
  .grid__container::after {
    clear: both;
    content: "";
    display: block; }
.grid__row {
  display: block; }
  .grid__row::after {
    clear: both;
    content: "";
    display: block; }
.grid__col--1 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 6.1721523119%; }
  .grid__col--1:last-child {
    margin-right: 0; }
.grid__col--2 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 14.7019566472%; }
  .grid__col--2:last-child {
    margin-right: 0; }
.grid__col--3 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 23.2317609825%; }
  .grid__col--3:last-child {
    margin-right: 0; }
.grid__col--4 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 31.7615653177%; }
  .grid__col--4:last-child {
    margin-right: 0; }
.grid__col--5 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 40.291369653%; }
  .grid__col--5:last-child {
    margin-right: 0; }
.grid__col--6 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 48.8211739883%; }
  .grid__col--6:last-child {
    margin-right: 0; }
.grid__col--7 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 57.3509783236%; }
  .grid__col--7:last-child {
    margin-right: 0; }
.grid__col--8 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 65.8807826589%; }
  .grid__col--8:last-child {
    margin-right: 0; }
.grid__col--9 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 74.4105869942%; }
  .grid__col--9:last-child {
    margin-right: 0; }
.grid__col--10 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 82.9403913294%; }
  .grid__col--10:last-child {
    margin-right: 0; }
.grid__col--11 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 91.4701956647%; }
  .grid__col--11:last-child {
    margin-right: 0; }
.grid__col--12 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%; }
  .grid__col--12:last-child {
    margin-right: 0; }
.grid__shift--1 {
  margin-left: 8.5298043353%; }
.grid__shift--2 {
  margin-left: 17.0596086706%; }
.grid__shift--3 {
  margin-left: 25.5894130058%; }
.grid__shift--4 {
  margin-left: 34.1192173411%; }
.grid__shift--5 {
  margin-left: 42.6490216764%; }
.grid__shift--6 {
  margin-left: 51.1788260117%; }
.grid__shift--7 {
  margin-left: 59.708630347%; }
.grid__shift--8 {
  margin-left: 68.2384346823%; }
.grid__shift--9 {
  margin-left: 76.7682390175%; }
.grid__shift--10 {
  margin-left: 85.2980433528%; }
.grid__shift--11 {
  margin-left: 93.8278476881%; }

@media screen and (max-width: 768px) {
  .grid__shift--1 {
    margin-left: 0; }
  .grid__shift--2 {
    margin-left: 0; }
  .grid__shift--3 {
    margin-left: 0; }
  .grid__shift--4 {
    margin-left: 0; }
  .grid__shift--5 {
    margin-left: 0; }
  .grid__shift--6 {
    margin-left: 0; }
  .grid__shift--7 {
    margin-left: 0; }
  .grid__shift--8 {
    margin-left: 0; }
  .grid__shift--9 {
    margin-left: 0; }
  .grid__shift--10 {
    margin-left: 0; }
  .grid__shift--11 {
    margin-left: 0; } }
@media screen and (max-width: 768px) {
  .grid__col--sm--1 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 6.1721523119%; }
    .grid__col--sm--1:last-child {
      margin-right: 0; }

  .grid__col--sm--2 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 14.7019566472%; }
    .grid__col--sm--2:last-child {
      margin-right: 0; }

  .grid__col--sm--3 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 23.2317609825%; }
    .grid__col--sm--3:last-child {
      margin-right: 0; }

  .grid__col--sm--4 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 31.7615653177%; }
    .grid__col--sm--4:last-child {
      margin-right: 0; }

  .grid__col--sm--5 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 40.291369653%; }
    .grid__col--sm--5:last-child {
      margin-right: 0; }

  .grid__col--sm--6 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 48.8211739883%; }
    .grid__col--sm--6:last-child {
      margin-right: 0; }

  .grid__col--sm--7 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 57.3509783236%; }
    .grid__col--sm--7:last-child {
      margin-right: 0; }

  .grid__col--sm--8 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 65.8807826589%; }
    .grid__col--sm--8:last-child {
      margin-right: 0; }

  .grid__col--sm--9 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 74.4105869942%; }
    .grid__col--sm--9:last-child {
      margin-right: 0; }

  .grid__col--sm--10 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 82.9403913294%; }
    .grid__col--sm--10:last-child {
      margin-right: 0; }

  .grid__col--sm--11 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 91.4701956647%; }
    .grid__col--sm--11:last-child {
      margin-right: 0; }

  .grid__col--sm--12 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 100%; }
    .grid__col--sm--12:last-child {
      margin-right: 0; } }
@media screen and (max-width: 640px) {
  .grid__col--xs--1 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 6.1721523119%; }
    .grid__col--xs--1:last-child {
      margin-right: 0; }

  .grid__col--xs--2 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 14.7019566472%; }
    .grid__col--xs--2:last-child {
      margin-right: 0; }

  .grid__col--xs--3 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 23.2317609825%; }
    .grid__col--xs--3:last-child {
      margin-right: 0; }

  .grid__col--xs--4 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 31.7615653177%; }
    .grid__col--xs--4:last-child {
      margin-right: 0; }

  .grid__col--xs--5 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 40.291369653%; }
    .grid__col--xs--5:last-child {
      margin-right: 0; }

  .grid__col--xs--6 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 48.8211739883%; }
    .grid__col--xs--6:last-child {
      margin-right: 0; }

  .grid__col--xs--7 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 57.3509783236%; }
    .grid__col--xs--7:last-child {
      margin-right: 0; }

  .grid__col--xs--8 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 65.8807826589%; }
    .grid__col--xs--8:last-child {
      margin-right: 0; }

  .grid__col--xs--9 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 74.4105869942%; }
    .grid__col--xs--9:last-child {
      margin-right: 0; }

  .grid__col--xs--10 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 82.9403913294%; }
    .grid__col--xs--10:last-child {
      margin-right: 0; }

  .grid__col--xs--11 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 91.4701956647%; }
    .grid__col--xs--11:last-child {
      margin-right: 0; }

  .grid__col--xs--12 {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 100%; }
    .grid__col--xs--12:last-child {
      margin-right: 0; } }
.page h1 {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  line-height: 1.4;
  text-transform: uppercase; }
  @media screen and (min-width: 640px) {
    .page h1 {
      font-size: calc(32px + 20 * (100vw - 640px) / 800); } }
  @media screen and (min-width: 1440px) {
    .page h1 {
      font-size: 52px; } }
.page h2 {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  text-transform: uppercase; }
  @media screen and (min-width: 640px) {
    .page h2 {
      font-size: calc(22px + 22 * (100vw - 640px) / 800); } }
  @media screen and (min-width: 1440px) {
    .page h2 {
      font-size: 44px; } }
.page h3 {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase; }
  @media screen and (min-width: 640px) {
    .page h3 {
      font-size: calc(18px + 18 * (100vw - 640px) / 800); } }
  @media screen and (min-width: 1440px) {
    .page h3 {
      font-size: 36px; } }
.page h4 {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  text-transform: uppercase; }
  @media screen and (min-width: 640px) {
    .page h4 {
      font-size: calc(16px + 6 * (100vw - 640px) / 800); } }
  @media screen and (min-width: 1440px) {
    .page h4 {
      font-size: 22px; } }
.page p {
  font-size: 14px;
  font-weight: 300; }
  @media screen and (min-width: 640px) {
    .page p {
      font-size: calc(14px + 4 * (100vw - 640px) / 800); } }
  @media screen and (min-width: 1440px) {
    .page p {
      font-size: 18px; } }
.page a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
.page small {
  font-size: 10px; }
  @media screen and (min-width: 640px) {
    .page small {
      font-size: calc(10px + 4 * (100vw - 640px) / 800); } }
  @media screen and (min-width: 1440px) {
    .page small {
      font-size: 14px; } }
.page b,
.page strong {
  font-weight: 700; }
.page em {
  font-style: italic; }

.ccm-toolbar-visible .header {
  top: 48px; }

.btn {
  float: left;
  text-decoration: none; }
  .btn--full {
    width: 100%; }
  .btn--medium {
    padding: 10px 20px;
    font-size: 14px; }
    @media screen and (min-width: 640px) {
      .btn--medium {
        font-size: calc(14px + 4 * (100vw - 640px) / 800); } }
    @media screen and (min-width: 1440px) {
      .btn--medium {
        font-size: 18px; } }
  .btn--large {
    padding: 20px 30px;
    font-size: 16px; }
    @media screen and (min-width: 640px) {
      .btn--large {
        font-size: calc(16px + 6 * (100vw - 640px) / 800); } }
    @media screen and (min-width: 1440px) {
      .btn--large {
        font-size: 22px; } }
  .btn--light-gray {
    background-color: #A3A3A3;
    color: #FFFFFF; }
    .btn--light-gray:hover {
      background-color: #CB0000; }
  .btn--red {
    background-color: #CB0000;
    color: #FFFFFF; }
    .btn--red:hover {
      background-color: #A3A3A3; }

.scroll__reveal {
  visibility: hidden; }
  .scroll__reveal--up, .scroll__reveal--left, .scroll__reveal--right {
    visibility: hidden; }

.background--image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  font-family: 'object-fit: cover; object-position: center;';
  z-index: -1; }
.background--white {
  background-color: #FFFFFF; }
.background--black {
  background-color: #000000; }
.background--black-transparent {
  background-color: rgba(0, 0, 0, 0.8); }
.background--gray {
  background-color: #3A3A3A; }
.background--gray-transparent {
  background-color: rgba(58, 58, 58, 0.8); }

.color--white {
  color: #FFFFFF; }
.color--black {
  color: #000000; }
.color--red {
  color: #CB0000; }
.color--light-gray {
  color: #A3A3A3; }

.text--center {
  text-align: center; }

.center--top {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(0%);
  -moz-transform: translateY(-50%) translateX(0%);
  -ms-transform: translateY(-50%) translateX(0%);
  -o-transform: translateY(-50%) translateX(0%);
  transform: translateY(-50%) translateX(0%); }
.center--left {
  position: relative;
  left: 50%;
  -webkit-transform: translateY(0%) translateX(-50%);
  -moz-transform: translateY(0%) translateX(-50%);
  -ms-transform: translateY(0%) translateX(-50%);
  -o-transform: translateY(0%) translateX(-50%);
  transform: translateY(0%) translateX(-50%); }
.center--middle {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%); }

.underline {
  width: 100%;
  float: left;
  margin-bottom: 20px; }
  .underline--gray {
    border-color: #3A3A3A; }
  .underline--white {
    border-color: #FFFFFF; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.box-shadow--bottom {
  -moz-box-shadow: inset 0 -15px 30px 0 #000000;
  -webkit-box-shadow: inset 0 -15px 30px 0 #000000;
  box-shadow: inset 0 -15px 30px 0 #000000; }
.box-shadow--inside {
  -moz-box-shadow: inset 0 0 15px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow: inset 0 0 15px #000000; }

.float--left {
  float: left; }
.float--right {
  float: right; }

.overflow-hidden {
  overflow: hidden; }

.gutter {
  margin-top: 30px; }

.width--stretch {
  width: 100%; }

.logo {
  width: 212px;
  height: 50px;
  float: left;
  background-image: url("../images/logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (max-width: 768px) {
    .logo {
      width: 106px;
      height: 25px; } }

.page .nav {
  width: auto;
  float: right; }
  .page .nav__list {
    display: inline-block;
    list-style: none;
    line-height: 50px; }
  .page .nav__item {
    display: inline-block; }
    .page .nav__item:not(:first-child) {
      margin-left: 20px; }
    .page .nav__item a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      font-family: "Oswald", sans-serif;
      color: #FFFFFF; }
    .page .nav__item--active a {
      color: #CB0000; }
    .page .nav__item:hover a {
      color: #CB0000;
      background: none !important; }
  .page .nav .ccm-block-social-links {
    display: inline-block;
    position: relative;
    top: 10px;
    margin-left: 20px; }
    .page .nav .ccm-block-social-links .center--left {
      left: 0;
      -webkit-transform: translateY(0) translateX(0);
      -moz-transform: translateY(0) translateX(0);
      -ms-transform: translateY(0) translateX(0);
      -o-transform: translateY(0) translateX(0);
      transform: translateY(0) translateX(0); }
      .page .nav .ccm-block-social-links .center--left li:not(:first-child) {
        margin-left: 20px; }
    @media screen and (max-width: 768px) {
      .page .nav .ccm-block-social-links {
        display: block;
        top: 30px; } }
  @media screen and (max-width: 768px) {
    .page .nav {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      width: 250px;
      height: 100%;
      background-color: #000000; }
      .page .nav__item {
        display: block;
        padding: 10px 20px; }
        .page .nav__item:not(:first-child) {
          margin: 0; } }

.video figcaption {
  margin-top: 20px; }
.video .plyr__play-large {
  background-color: #CB0000;
  cursor: pointer; }
.video .plyr__progress--played, .video .plyr__volume--display {
  color: #CB0000; }


